.profielReserveringen{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://rubenjerry.nl/wp-content/images/deco1.png');
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    position: relative;
    
    &__container{
        height: 90%;
        overflow-y: auto;
    }
        &__table {
            padding-top: 20px;
            margin-left: auto;
            margin-right: auto;
            border-spacing: 0px;
        }
        & td, th {
            border: 1px solid $green;
            text-align: left;
            padding: 10px;
        }


    &__linkcontainer{
        margin: 10px;

        &__link{
            color: $green;
            cursor: pointer;
        }
    }
    
}