.wachtwoordWijzigen{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://rubenjerry.nl/wp-content/images/deco1.png');
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    position: relative;
    
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        margin: auto;

        &__label{
            display: block;
            padding-top: 10px;
            padding-bottom: 5px;
        }

        &__input{
            display: block;
            padding: 10px;
            border: 1px solid  $green;
            box-sizing: border-box;
            border-radius: 25px;   
        }   
   
    }
    
    &__linkcontainer{
        margin: 10px;

        &__link{
            color: $green;
            cursor: pointer;
        }
    }
        
}