.header{
    display: flex;
    justify-content: center;
    height: 150px;
    background-image: url(https://rubenjerry.nl/wp-content/images/deco2.png);
    object-fit: fill;
    img{
        object-fit: contain;
    }
}