.bestellenOverzicht{
    position: relative;
    overflow: auto;
    width: 98%;
    height: 100%;
    background-image: url('https://rubenjerry.nl/wp-content/images/deco3.png');
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    &__totaal{
        width:100%;

        position: absolute;
        height: 3%;
        width: 90%;
        text-align: center;
        font-size: 1.2em;
        margin: 0;
        bottom: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__itemsContainer{
        padding: 0 5% 5% 5%;
        width: 90%;
        height: 55%;
        max-height: 500px;
        margin: 6% auto 4% auto;
        overflow: auto;
    }
    &__form{
        width: 89%;
        bottom: 16%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 15%;
        max-height: 150px;

        position: absolute;
        &__label{
            width: 100%;
            color: gray;
        }
        &__inputfield{
            width: 100%;
            border: 1px solid silver;
            position: relative;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 0.9em;
            padding: 2.5% 2.5% 13.5% 2.5%;
        }
    }
    &__buttonContainer{
        position: absolute;
        height: 10%;
        width: 90%;
        margin: 0;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1vh;
        overflow: hidden;
        
        &__buttonBestel{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            background-color: #336633;
            border: none;
            border-radius: 0.5rem;
            color: white;
            font-size: 1.5em;
            pointer-events: auto;
            cursor: pointer;
            
        }
    }
}
.--inactiveButton{
    background-color: gray;
    pointer-events: none;
}